[project]
	description = My OCA training
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hadeusz
[access "refs/for/refs/*"]
	read = group user/hadeusz
	push = group user/hadeusz
	label-Code-Review = -2..+2 group user/hadeusz
	label-Verified = -1..+1 group user/hadeusz
	rebase = group user/hadeusz
	removeReviewer = group user/hadeusz
	submit = group user/hadeusz
[access "refs/heads/*"]
	read = group user/hadeusz
	create = group user/hadeusz
	push = +force group user/hadeusz
	pushMerge = group user/hadeusz
[access "refs/tags/*"]
	push = group user/hadeusz
	push = +force group user/hadeusz
